<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add 
                name="httpPlatformHandler" 
                path="*" 
                verb="*" 
                modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <httpPlatform 
            processPath="node.exe"
            arguments="C:\Users\korenaga\Desktop\my_folder\dx-management-app\backend本番用\index.js">
            <environmentVariables>
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>