.container {
  padding: 1rem;
}
.tr-data:hover {
  color: #0b8fca;
  cursor: pointer;
}
.table-wrap {
  overflow-x: scroll;
}
.no-box-shadow {
  box-shadow: none !important;
}
td {
  line-height: 1.5rem;
}
.message {
  margin: 5px;
  text-align: center;
  color: #ff0000;
  font-size: 1rem;
}
