<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>DX管理ソフトマニュアル</title>
  </head>
  <img>
    <div align="center">
      <h1 style="background-color: #4169e1; color: #fff" id="top">マニュアル</h1>
    </div>

    <ul style="width: 300px" class="sample1">
      <li><a href="#new">新規登録</a></li>
      <li><a href="#edit">編集</a></li>
      <li><a href="#keyword">キーワード検索と詳細検索</a></li>
      <li><a href="#table">表の切り替え</a></li>
      <li><a href="#month">基準月について</a></li>
    </ul>

    <div>
      <h3 id="new">新規登録</h3>
      <p>
        新規登録を行う際には、画面右上に表示されているプラスボタンをクリックすると登録画面が表示されます。
      </p>
      <p>各項目を入力し、チェックボタンをクリックすると登録完了です</p>
    </div>

    <div>
      <h3 id="edit">編集</h3>
      <p>登録した内容を変更するには、一覧で行を選択します</p>
      <p>詳細画面が表示されるので右上のペンマークで編集が行えます</p>
      <p>ごみ箱ボタンで削除が出来ます</p>
    </div>

    <div>
      <h3 id="keyword">キーワード検索と詳細検索</h3>
      <p>
        画面左に表示されている入力欄に検索したいワードを入力し、Enterキーを押下すると項目関係なく当てはまる列が表示されます
      </p>
      <p>
        より詳細に検索したい場合は、画面右の虫眼鏡のボタンをクリックすると詳細検索が行えます
      </p>
      <p>
        検索したい列名を選択しキーワードを入力、チェックボタンをクリックすると検索が行えます
      </p>
    </div>

    <div>
      <h3 id="table">表の切り替え</h3>
      <p>
        新規登録ボタンの下に表示されているタグをクリックすると表が切り替わります
      </p>
      <p>
        表の切り替えを行うと、新規登録と詳細検索がグラフとエクセル出力ボタンに変化します
      </p>
      <h4>グラフボタン</h4>
      <p>横軸と縦軸を元にグラフを作成、円グラフと棒グラフが作成出来ます</p>
      <p>元の集計表に戻したい場合、右上に表ボタンで戻ることが出来ます</p>
      <h4>エクセル生成ボタン</h4>
      <p>DX一覧をExcelに出力します</p>
    </div>

    <div>
      <h3 id="month">基準月について</h3>
      <p>ヘッダー部分に表示されている基準月の欄にて設定が行えます</p>
      <p>基準する月を選択し、Enterを押すと変更が適応されます</p>
      <p>選択した月を基に表示する部署名等を変えます</p>
      <p>※部署名が変わっている場合、選択した月に存在した部署名になります</p>
    </div>
    <p style="height: 500px"></p>
    
    <!-- 文字、写真のデザインを指定するスタイルシート -->
    <style>
      ul,
      ol {
        color: #1e366a;
        border: dotted #1e366a 1px; /*ドット 色 太さ*/
        padding: 0.5em 0.5em 0.5em 2em;
      }

      ul li,
      ol li {
        line-height: 1.5;
        padding: 0.5em 0;
      }
    </style>
  </body>
</html>
